html, body {
    margin: 0;
    height: 100%;
}

header {
    padding: 10px;
    width: calc(100% - 20px);
    height: 40px;
    background-color: #1976d2;
    display: flex;
    justify-content: center;
}

.main-logo {
    width: auto;
    height: 40px;
}

.main-logo img {
    display: block;
    height: 25px;
}

.main-logo span {
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 1px;
}

main {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
}

aside {
    width: 225px;
    height: 100%;
    background-color: #1161b1;
}

article {
    width: calc(100% - 225px);
    height: 100%;
}
