html, body {
    margin: 0;
    height: 100%;
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

header {
    padding: 10px;
    width: calc(100% - 20px);
    height: 40px;
    background-color: #1976d2;
    /* How to center vertically */
    display: flex;
    align-items: center;
    /* Place items on opposite sides of element */
    justify-content: space-between;
}

.main-logo {
    width: auto;
    height: 40px;
    margin-left: 10px;
}

.main-logo img {
    display: block;
    height: 25px;
}

.main-logo span {
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu-button.material-icons {
    margin-right: 10px;
    color: #ffffff;
    font-size: 36px;
    display: none;
}

main {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
}

aside {
    width: 225px;
    height: 100%;
    background-color: #1161b1;
}

article {
    width: calc(100% - 225px);
    height: 100%;
}

/* 1. Select all of the navigation buttons */
/* display each
in a new line */
/* BONUS: Make the visibility 60% */

aside a {
    color: #ffffff;
    font-size: 16px;
    opacity: 0.6;
    margin: 20px 0 20px 20px;
    /* Center items vertically */
    display: flex;
    align-items: center;
}

aside a:hover {
    opacity: 1;
    cursor: pointer;
}

aside a .material-icons {
    margin-right: 10px;
}

@media (max-width: 1024px) {
    aside {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    aside.show {
        display: flex;
    }

    /* For small devices hide the icons */
    /* setting font-size 20px for small devices on navigation */
    aside a .material-icons {
        display: none;
    }

    aside a {
        font-size: 20px;
    }

    .material-icons.menu-button {
        display: block;
    }

    article {
        width: 100%;
    }
}



/**
 * ======================
 * MOBILE FIRST APPROACH
 * ======================
 */

.financials {
    margin: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.financials > div {
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #888888;
    color: #ffffff;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding: 25px;
}

.financials > div > .figure {
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}

.financials > div:nth-child(1) {
    background-color: #00C853;
}

.financials > div:nth-child(2) {
    background-color: #DD2C00;
}

.financials > div:nth-child(3) {
    background-color: #F9A825;
}

.financials > div:nth-child(4) {
    background-color: #6200EA;
}

.component {
    margin: 20px;
    border: 1px solid #888888;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #cccccc;
    color: #555555;
}

.component-header {
    padding: 10px;
    color: #444444;
    font-size: 24px;
    font-weight: 700;
}

.products {
    width: calc(100% - 40px);
}

.product > div {
    height: 60px;
    background-color: #cccccc;
    font-size: 18px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.product > div:nth-child(1) {
    grid-template-columns: 10% 60% 30%;
    background-color: transparent;
    font-size: 20px;
}

.product > div:nth-child(1) > div:nth-child(1) {
    color: #888888;
    font-size: 16px;
}

.product > div:nth-child(1) > div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.material-icons.expand-product-button {
    color: #1976d2;
    font-size: 34px;
}

.product > div > div {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    border-top: solid 1px #ffffff;
}

.product > div:not(:first-child) > div:nth-child(2) {
    justify-content: flex-end;
}



@media (min-width: 1024px) {
    .financials div {
        width: 24%;
        font-size: 20px;
    }

    .financials > div > .figure {
        font-size: 26px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .financials div {
        width: 49%;
        font-size: 20px;
    }
}
